/.vs
/ProjectMataAndroid/obj
/ProjectMataAndroid/bin/Debug/ProjectMataAndroid.pdb
/ProjectMataAndroid/bin/Debug/ProjectMataAndroid.ProjectMataAndroid.apk
/ProjectMataAndroid/bin/Debug/ProjectMataAndroid.ProjectMataAndroid-Signed.apk
/ProjectMataAndroid/bin/Debug/ProjectMataAndroid.dll
/ProjectMataAndroid/ProjectMataAndroid.csproj.user
/ProjectMataAndroid/bin/Debug/ProjectMataAndroid.dll.mdb
/ProjectMataAndroid/bin/Release
/ProjectMataiOS/obj
/ProjectMataiOS/bin/iPhoneSimulator/Debug/ProjectMataiOS.pdb
/ProjectMataiOS/bin/iPhoneSimulator/Debug/ProjectMataiOS.exe
/ProjectMataiOS/bin/iPhone/Ad-Hoc
/ProjectMataiOS/bin/iPhone/Debug
/ProjectMataiOS/ProjectMataiOS.csproj.user
/ProjectMataiOS/bin/iPhoneSimulator/Debug
/ProjectMataiOS/bin/iPhone/Release
/ProjectMataiOS/bin/iPhoneSimulator/Release
/ProjectMataiOS/bin/iPhone/AppStore
/packages
/ProjectMataAndroid/bin/Debug/Refractored.Controls.CircleImageView.xml
/ProjectMataAndroid/bin/Debug/SQLite-net.xml
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Animated.Vector.Drawable.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Annotations.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Compat.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Core.UI.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Core.Utils.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.CustomTabs.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Design.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Fragment.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Media.Compat.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Transition.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.v4.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.v7.AppCompat.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.v7.CardView.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.v7.RecyclerView.dll
/ProjectMataAndroid/bin/Debug/Xamarin.Android.Support.Vector.Drawable.dll
/ProjectMataAndroid/bin/Debug/Xamarin.GooglePlayServices.Base.dll
/ProjectMataAndroid/bin/Debug/Xamarin.GooglePlayServices.Basement.dll
/ProjectMataAndroid/bin/Debug/Xamarin.GooglePlayServices.Gcm.dll
/ProjectMataAndroid/bin/Debug/Xamarin.GooglePlayServices.Iid.dll
/ProjectMataAndroid/bin/Debug/Xamarin.GooglePlayServices.Tasks.dll
/ProjectMataAndroid/bin/Debug/com.wellsoft.tkkit-Signed.apk
/ProjectMataAndroid/bin/Debug/com.wellsoft.tkkit.apk
/ProjectMataAndroid/bin/Debug/ProjectMataAndroid.dll.config
/ProjectMataAndroid/bin
/ProjectMateiOS/bin
/ProjectMateiOS/obj
/ProjectMateAndroid/obj
/ProjectMateAndroid/bin
/ProjectMate.sln.DotSettings.user
/README.md
/ProjectMateAndroid/ProjectMateAndroid.csproj.bak
/ProjectMateAndroid/TkKitAndroid.csproj.bak
/ProjectMateiOS/ProjectMateIos.csproj.user
/ProjectMateiOS/GettingStarted.Xamarin
/TkKit.sln.DotSettings.user
/Components
/OptimaLogAndroid/obj
/OptimaLogAndroid/bin
/OptimaLogiOS/obj
/OptimaLogiOS/bin
